.page,
.subPage {
    animation-duration: 400ms;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-name: fade;
}

@keyframes fade {
    0% {
        padding-top: 2vh;
        opacity: 0;
    }
    100% {
        padding-top: 0;
        opacity: 1;
    }
}

/* button:hover {
    scale: 1.05;
    transition: scale 65ms ease-in-out;
    animation-duration: 100ms;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-name: shake;
} */

@keyframes shake {
    0% {
        transform: translateX(0vh);
    }
    25% {
        transform: translateX(0.2vh);
    }
    50% {
        transform: translateX(0vh);
    }
    75% {
        transform: translateX(-0.2vh);
    }
    100% {
        transform: translateX(0vh);
    }
}

.goal {
    animation-name: rotate;
    animation-duration: 4s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: blur(1vh);
}

.checkPoint {
    animation-name: rotate;
    animation-duration: 4s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: blur(1vh);
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

#invalidPanel {
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-name: loading;
}

@keyframes loading {
    0% {
        padding-top: 2vh;
    }
    100% {
        padding-top: 0;
    }
}

#loadingCircle {
    animation-duration: 800ms;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-name: loadingCircle;
}

@keyframes loadingCircle {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    50% {
        transform: rotate(180deg) translateY(-12vh);
        filter: hue-rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(0deg);
    }
}

.flickering {
    animation-duration: 1s !important;
    animation-timing-function: ease-in-out !important;
    animation-delay: 0 !important;
    animation-direction: normal !important;
    animation-iteration-count: infinite !important;
    animation-name: flickering !important;
}

@keyframes flickering {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(2);
    }
    100% {
        filter: brightness(1);
    }
}

.enemy {
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-name: fade;
}

@keyframes swaying {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-5deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    65% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#startEffectBase {
    transition-duration: 250ms;
    transition-property: background-color, border;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-duration: 500ms;
    animation-name: startEffectBaseAnimation;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.startEffectLabel {
    animation-direction: normal;
    animation-duration: 500ms;
    animation-name: startEffectAnimation;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#startLabel {
    animation-direction: normal;
    animation-duration: 500ms;
    animation-name: startLabelAnimation;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes startEffectBaseAnimation {
    0% {
        transform: translate3d(0, 0, -20vh);
    }
    50% {
        transform: translate3d(0, 0, 0);
    }
    70% {
        transform: translate3d(0, 0, 10vh);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes startEffectAnimation {
    0% {
        /* rotate: -10deg; */
        transform: translate3d(0, -50vh, -20vh);
        opacity: 0;
        filter: blur(0.5vh);
    }
    30% {
        rotate: 0deg;
        transform: translate3d(0, 0, 0);
        filter: blur(0vh);
        opacity: 1;
    }
    70% {
        rotate: 0deg;
        transform: translate3d(0, 0, 0);
        opacity: 1;
        filter: blur(0vh);
    }
    100% {
        transform: translate3d(0, 50vh, -40vh);
        /* rotate: 270deg; */
        filter: blur(0.5vh);
        opacity: 0;
    }
}

@keyframes startLabelAnimation {
    0% {
        transform: perspective(30vh) translate3d(0, -50vh, -10vh);
        opacity: 0;
    }
    30% {
        transform: perspective(30vh) translate3d(0, 0, 10vh);
        opacity: 1;
    }
    60% {
        transform: perspective(30vh) translate3d(0, 0, 10vh);
        filter: blur(0vh);
        opacity: 1;
    }
    100% {
        transform: perspective(30vh) translate3d(0, 0, 20vh);
        filter: blur(2vh);
        opacity: 0;
    }
}

button:focus {
    animation-direction: normal;
    animation-duration: 250ms;
    animation-name: touchVibration;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes touchVibration {
    0% {
        transform: translate(0vh);
    }
    20% {
        transform: translate(-0.7vh);
    }
    40% {
        transform: translate(0.7vh);
    }
    60% {
        transform: translate(-0.4vh);
    }
    80% {
        transform: translate(0.3vh);
    }
    100% {
        transform: translate(0vh);
    }
}

.headingLabel {
    animation-direction: normal;
    animation-duration: 400ms;
    animation-name: rightFadeIn;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes rightFadeIn {
    0% {
        transform: translate(10vh);
        filter: blur(0.5vh);
        opacity: 0;
    }
    100% {
        transform: translate(0vh);
        filter: blur(0vh);
        opacity: 1;
    }
}

#startEffectBase {
    animation-direction: normal;
    animation-duration: 500ms;
    animation-name: leftFadeIn;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes leftFadeIn {
    0% {
        transform: translate(-10vh);
        filter: blur(0.5vh);
        opacity: 0;
    }
    100% {
        transform: translate(0vh);
        filter: blur(0vh);
        opacity: 1;
    }
}
