@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
* {
    /* min-height: fit-content;
    min-width: fit-content; */
    font-family: "Mochiy Pop P One", Arial;
    font-size: 6vh;
    align-items: center;
    justify-content: center;
    /* color: #6bd; */
    color: #5ac;
    text-wrap: nowrap;
    /* box-sizing: border-box; */
}

html {
    min-height: 0;
    min-width: 0;
    background-color: #eaeaee;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    aspect-ratio: 14/9;
    max-width: 100%;
    max-height: 100%;
    min-width: 0;
    min-height: 0;
    background-color: #ddeeee44;
    border: 1vh white solid;
    border-radius: 1vh;
    &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        inset: 0;
        background-image: url("../assets/images/backgrounds/背景1.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        opacity: 0.05;
    }
}

.page {
    width: 100%;
    height: 100%;
    gap: 3vh;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    &[data-direction="row"] {
        flex-direction: row;
    }
}

.label {
    text-align: center;
}

.headingLabel {
    background-color: #aee5;
    position: absolute;
    padding: 0.5vh;
    padding-left: 7vh;
    padding-right: 140vh;
    top: 2vh;
    left: 5vh;
    font-size: 8vh;
    border: 1vh double #8aba;
    border-radius: 0.5vh;
    color: #289;
}

button {
    cursor: pointer;
    border: none;
    padding: 1vh;
    background-color: #0000;
}

[data-mapping] {
    cursor: pointer;
    &:active {
        scale: 0.95;
        filter: brightness(0.8);
        transition: scale 100ms ease-out;
    }
    &:focus {
        outline: none;
        border: none;
        border-radius: 1vh;
        background-color: #e803;
        box-shadow: #e805 0 0 1.5vh;
        transition: scale 200ms ease-in-out, background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
        scale: 1.2;
    }
}

.back {
    position: absolute;
    bottom: 3vh;
    left: 6vh;
    padding: 1.5vh;
}

#title {
    /* background-color: #eea; */
    & .options {
        margin-top: 10vh;
    }
}

#talk {
    & #talkPanelBase {
        scale: 0.9;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        position: absolute;
        bottom: 5vh;
        height: 44vh;
        width: 121vh;
        min-height: 0;
        min-width: 0;
        & #namePanel {
            height: 20%;
            aspect-ratio: 5 / 1;
            border: #cb6 0.4vh solid;
            background-color: #eb6;
            font-size: 6vh;
            box-shadow: 1vh 1vh 2vh #33333366;
        }
        & #talkPanel {
            display: block;
            height: 80%;
            width: 100%;
            border: #cb6 0.4vh solid;
            background-color: #eb6;
            text-align: left;
            align-items: start;
            justify-content: left;
            overflow-wrap: anywhere;
            padding-top: 2vh;
            padding-left: 3vh;
            padding-right: 3vh;
            font-size: 6vh;
            line-height: 1.6;
            text-wrap: wrap;
            & * {
                text-wrap: wrap;
            }
            box-shadow: 1vh 1vh 2vh #33333366;
            & ruby {
                & rt {
                    font-size: 2.5vh;
                }
            }
        }
    }
}

.text {
    text-wrap: wrap;
}

#invalidPanel {
    background-color: #eea;
    z-index: 100;
    & .label {
        font-size: 7vh;
    }
    & #lordingCircle {
        font-size: 13vh;
    }
}

.rangeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    & label {
        width: 20vh;
        flex: 0 0 auto;
        margin-right: 3vh;
        text-align: center;
    }
    & input {
        width: 25vh;
        height: 2vh;
        -webkit-appearance: none;
        appearance: none;
        background: #ba5;
        border-radius: 2vh;
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 4vh;
            height: 4vh;
            background: #eee;
            border-radius: 50%;
            cursor: pointer;
        }
        &::-moz-range-thumb {
            width: 4vh;
            height: 4vh;
            background: #eee;
            border-radius: 50%;
            cursor: pointer;
            border: none;
        }
        &:focus {
            outline: none;
        }
    }
}

#play {
    background-color: #eee;
    flex-direction: row;
    gap: 0vh;
    & .playField {
        z-index: 1;
        /* border:  solid #2ac8; */
        box-shadow: 0 0 1vh #2224;
        flex: 1;
        background-color: #bde;
        border-radius: 2%;
        padding-left: 2%;
        aspect-ratio: 9/10;
        display: flex;
        flex-direction: row;
        gap: 1vh;
        margin-left: 0.5vh;
        margin-right: 0.5vh;
        .playCanvas {
            height: 95%;
        }
        .nextCanvas {
            height: 70%;
            border-radius: 2cqh;
        }
        .informationLabelBase {
            height: 100%;
            width: 35%;
            margin-left: -1cqh;
            & .informationLabel {
                font-family: "RocknRoll One", Arial;
                color: #2ac;
                text-align: center;
                display: flex;
                flex-direction: column;
                & .informationLabelHeader {
                    font-family: "RocknRoll One", Arial;
                    color: #444;
                    text-align: center;
                }
            }
        }
    }

    & #playBackground {
        background-color: #88aaee;
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        & canvas {
            width: 100%;
            height: 100%;
        }
    }
}

#playerRegister {
    background-image: repeating-linear-gradient(45deg, #ccc 0px, #ccc 5vh, #c3c3c3 5vh, #c3c3c3 10vh);

    & .text {
        font-size: 5vh;
    }
    & #connectionLabel {
        height: 15vh;
        display: flex;
        flex-direction: row;
        gap: 4vh;
        & .inputTypeIcon {
            color: #ba4;
            width: 15vh;
            height: 15vh;
            padding: 1vh;
            border: #6bda 0.5vh solid;
            border-radius: 1vh;
            &[data-input-type="keyboard"] {
                background-image: url(../assets/images/descriptions/keyboard.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
            &[data-input-type="gamepad"] {
                background-image: url(../assets/images/descriptions/gamepad.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
            &[data-input-type="autoKeyboard"] {
                background-image: url(../assets/images/descriptions/robot.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}

#playerNumberSelect {
    background-image: repeating-linear-gradient(45deg, #ccc 0px, #ccc 5vh, #c3c3c3 5vh, #c3c3c3 10vh);
    & .text {
        font-size: 5vh;
    }
}

#startEffect {
    background-color: #00000000;
    & #startEffectBase {
        background-color: #eeaa0066;
        border: #eeaa0099 1vh solid;
        height: 20vh;
        width: 120%;
        display: flex;
        justify-content: center;
        align-items: center;
        & .startEffectLabel {
            /* line-height: 20vh; */
            font-family: "RocknRoll One", Arial;
            text-align: center;
            font-size: 20vh;
            margin-bottom: 3vh;
        }
        & #startLabel {
            font-family: "RocknRoll One", Arial;
            text-align: center;
            font-size: 20vh;
            color: #ee8888;
        }
    }
}

#result {
    & .resultLabel {
        color: #ee8888;
        font-size: 10vh;
        font-family: "RocknRoll One", Arial;
    }
}
#replayResult {
    & .resultLabel {
        color: #ee8888;
        font-size: 10vh;
        font-family: "RocknRoll One", Arial;
    }
}

#detailedResult {
    & .subPage {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        gap: 5vh;
        padding-left: 10vh;
    }
}

#pause {
    background-color: #dddddddd;
}

#replayPause {
    background-color: #dddddddd;
}

.subPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    & .text {
        font-size: 4vh;
        & b {
            font-size: 4vh;
        }
    }
}

.subPageController {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    position: absolute;
    bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
}

#others {
    & .options {
        margin-top: 10vh;
    }
    & button {
        font-size: 5vh;
    }
}

#howToPlayBasic {
    & .subPage .text {
        width: 130vh;
        height: 50vh;
    }
}

#replay {
    & .text {
        font-size: 5vh;
    }
    & .options {
        padding-top: 4vh;
        padding-bottom: 4vh;
        height: 50vh;
        width: 130vh;
        overflow-y: auto;
        background-color: #dddddd88;
        border-radius: 4vh;
        justify-content: start;
        border: 1vh #5acd solid;
        &::-webkit-scrollbar {
            width: 4vh;
        }

        &::-webkit-scrollbar-track {
            background: #ccc0;
            border-radius: 2vh;
        }

        &::-webkit-scrollbar-thumb {
            background: #678;
            border-radius: 2vh;
            border: 0.4vh solid #456;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #444;
        }

        & .replayButtonContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5vh;
            & .replayButton {
                font-size: 5vh;
            }
            & .replaySaveButton {
                height: 7vh;
                aspect-ratio: 1;
                background-image: url("../assets/images/descriptions/save.png");
                background-repeat: no-repeat;
                background-size: cover;
                &::before {
                    font-size: 3vh;
                    content: "保存する";
                    position: absolute;
                    bottom: 10%;
                    left: 120%;
                    background-color: #eee8;
                    border-radius: 1vh;
                    border: 0.2vh #2894 solid;
                    padding: 1vh;
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 200ms;
                }
                &:focus::before {
                    opacity: 1;
                }

                &.replaySavedButton {
                    opacity: 0.5;
                    filter: hue-rotate(30deg);
                    &&::before {
                        content: "保存済み";
                    }
                }
                position: relative;
            }
        }
    }
}

#savedReplay {
    & .text {
        font-size: 5vh;
    }
    & .options {
        padding-top: 4vh;
        padding-bottom: 4vh;
        height: 50vh;
        width: 130vh;
        overflow-y: auto;
        background-color: #dddddd88;
        border-radius: 4vh;
        justify-content: start;
        border: 1vh #5acd solid;
        &::-webkit-scrollbar {
            width: 4vh;
        }

        &::-webkit-scrollbar-track {
            background: #ccc0;
            border-radius: 2vh;
        }

        &::-webkit-scrollbar-thumb {
            background: #678;
            border-radius: 2vh;
            border: 0.4vh solid #456;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #444;
        }

        & .replayButtonContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5vh;
            & .replayButton {
                font-size: 5vh;
            }
            & .replayDeleteButton {
                height: 7vh;
                aspect-ratio: 1;
                background-image: url("../assets/images/descriptions/delete.png");
                background-repeat: no-repeat;
                background-size: cover;
                &::before {
                    font-size: 3vh;
                    content: "削除する";
                    position: absolute;
                    bottom: 10%;
                    left: 120%;
                    background-color: #eee8;
                    border-radius: 1vh;
                    border: 0.2vh #2894 solid;
                    padding: 1vh;
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 200ms;
                }
                &:focus::before {
                    opacity: 1;
                }
                position: relative;
            }
        }
    }
}

.page:has(.popup) {
    background-color: #0000;
    & .popup {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        background-color: #ddeeff;
        width: 80%;
        height: 80%;
        & .headingLabel {
            padding: 0.5vh;
            padding-left: 7vh;
            padding-right: 7vh;
            border: 1vh solid #4aba;
            border-radius: 2vh;
            font-size: 6vh;
        }
        & .text {
            font-size: 5vh;
        }
        padding: 3vh;
        border: 0.5vh #bde8 solid;
        border-radius: 3vh;
        box-shadow: 0 0 3vh #4446;
        position: relative;
    }
}

#replayDeleteConfirmButton,
#allDataDeleteConfirmButton {
    color: #ee8888;
    font-size: 8vh;
}

#musicSetting {
    & .options:first-child {
        & * {
            gap: 10vh;
            transform: translateX(-5vh);
        }
    }

    & .selectorPanel {
        height: 20vh;
        width: 55vh;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
        & .selector {
            width: 50vh;
            font-size: 4vh;
            border: 1px solid black;
            /* aspect-ratio: 3 / 1; */
            text-align: center;
            background-color: rgb(180, 255, 255);
            border-top: 0px solid rgb(147, 228, 255);
            border-bottom: 3px solid rgb(147, 228, 255);
            border-left: 1px solid rgb(147, 228, 255);
            border-right: 1px solid rgb(147, 228, 255);
            outline: none;
            & option {
                background-color: lightcyan;
            }
            &:focus-visible {
                border-top: 0px solid rgb(147, 228, 255);
                border-bottom: 1px solid rgb(147, 228, 255);
                border-left: 0px solid rgb(147, 228, 255);
                border-right: 0px solid rgb(147, 228, 255);
            }
        }
    }
}

#graphicSetting {
    align-items: end;
    & .options {
        & button {
            font-size: 4vh;
            color: #888;
            transition: color 100ms ease-in-out;
        }
        margin-right: 45vh;
    }
}
